<!-- <h6 appHighlight>UserForm</h6>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input id="email" appEmail formControlName="email" type="email">
  <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
    <div *ngIf="userForm.controls['email'].errors?.required">Email is required</div>
    <div *ngIf="userForm.controls['email'].errors?.invalidEmail">Invalid email address</div>
  </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" fromControlName="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="check">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
<h6 appHighlight>UserForm</h6>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input id="email" appEmail formControlName="email" type="email" class="form-control">
    <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
      <div *ngIf="userForm.controls['email'].errors?.['required']" appHighlight >Email is required</div>
      <div *ngIf="userForm.controls['email'].errors?.['invalidEmail']" appHighlight>Invalid email address</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="check">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
</form>